# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
lib/
bin/
include/
*.egg-info/
dist/
build/

# Flask-Migrate
migrations/

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# IDE / Editor
.idea/
.vscode/
.vscode/settings.json

# Test output
.coverage
.tox/
.nox/
*.cover
.hypothesis/
.pytest_cache/
.coverage.*

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.envrc

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# profiling data
.prof

# Local SQLite database files
*.db

